.bodycontent{
    min-height: calc(100vh - 60px);
    background-color: #f9f9f9;
    box-sizing: border-box;
}

#lists{
    list-style: none;
    text-align: left;
}

.item:hover{
    background-color: steelblue;
    color: #fff;
    cursor: pointer;
}